bashate>=0.2 # Apache-2.0
hacking>=0.12.0,<0.13  # Apache-2.0
httpretty
testtools>=1.4.0  # MIT
nose  # LGPL
sphinx>=1.2.1,!=1.3b1,<1.4  # BSD
testrepository>=0.0.18  # Apache-2.0/BSD
doc8  # Apache-2.0
openstackdocstheme>=1.5.0  # Apache-2.0